div{
    box-sizing: border-box;
}
body{
    margin: 0%;
    background-color:azure
}
.column {
    
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }